body {
  background: url(images/typewriter.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
  color: white;
  font-family: 'Droid Sans', sans-serif;
}

h1 {
  background-color: grey;
  color: white;
  border-radius: 15px;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  margin: 1em;
  padding: 15px;
  text-align: center;
  text-decoration: underline;
}

.bookmarkform {
  background-color: grey;
  box-shadow: 0 0 10px 10px black;
  display: block;
  justify-content: center;
  margin-bottom: 1em;
  padding: 10px 0;
  text-align: center;
}

input {
  border-radius: 5px;
  font-size: 100%;
  margin-bottom: 10px;
  width: 150px;
}

li {
  background-color: grey;
  border-radius: 10px;
  justify-content: center;
  line-height: 30px;
  margin: 0 1em 1em 1em;
  padding: 10px 0;
  text-align: center;
}

.read {
  background-color: black;
}

.error-message {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}


@media (min-width: 700px) {

}

@media (min-width: 900px) {

}
/*
FFD06E light brown
B28629 darker brown
A4D1FF light blue
6EA4FF baby blue
3B67B2 darker blue
*/
/*

*/
